.CreateActivity {
  margin: 0 auto;
  width: 550px;
  padding: 40px;
  margin: 50px auto;
  background: black;
  box-shadow: var(--amarillo) 7px 7px;
  border: 1px solid var(--amarillo);
}

.CreateActivity-header {
  display: flex;
  flex-direction: column;
}

.CreateActivity-header h1 {
  margin: 0;
  font-size: 4rem;
  color: white;
}

.CreateActivity-body {
  margin-top: 30px;
}

.Countries-to-add {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.country-to-add {
  margin: 5px 8px 5px 0;
  background-color: var(--amarillo);
  font-size: 1.5rem;
  padding: 5px 10px 5px 8px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.country-to-add button {
  padding: 0;
  margin: 0 8px 0 5px;
  color: red;
  font-weight: bold;
}

.success-message {
  display: flex;
  max-width: 335px;
  padding: 5px 10px;
  background: rgb(43, 187, 30);
  border-radius: 8px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.success-message p {
  margin: 0;
}

.success-message svg {
  width: 20px;
}
