.Countries-continent {
  margin: 30px 0;
  color: white;
  font-size: 3.6rem;
  filter: drop-shadow(1px 1px 0 var(--amarillo));
}

.Countries-createactivity {
  display: flex;
}

.Countries-createactivity svg {
  width: 20px;
  margin-right: 8px;
}

.Countries-error {
  width: 100%;
  padding: 20px;
  background: rgb(255, 64, 64);
  border-radius: 8px;
  color: white;
}

.Countries-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.Countries-active-filters svg {
  margin: 0;
  width: 25px;
  color: var(--amarillo);
}

.Countries-active-filters {
  padding: 10px;
  background-color: black;
  display: flex;
}

.Countries-active-filters p {
  margin-right: 15px;
  font-size: 2rem;
  color: var(--amarillo);
  font-weight: bold;
}

.Countries-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.Page-buttons {
  position: sticky;
  bottom: 0;
  top: 951px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Page-buttons button {
  margin: 8px;
  width: 50px;
  transition: all 0.15s ease-in-out;
}

.Page-buttons .filter-btn {
  background: black;
  color: white;
  border: 1px solid var(--amarillo);
}

.Page-buttons .filter-btn:hover {
  background-color: var(--amarillo);
  color: black;
}

.filter-btn.active {
  background: var(--amarillo);
  color: black;
}
