.Home {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
}

.Home-header {
  padding: 20px;
  height: 80px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--amarillo);
  border-radius: 8px;
}

.Home-header-filters {
  display: flex;
  align-items: center;
}

.Home-countries {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.Home-countries-error {
  width: 100%;
  padding: 10px 20px;
  background: rgb(255, 64, 64);
  border-radius: 8px;
  display: flex;
}

.Home-countries-error svg {
  width: 25px;
  margin-right: 8px;
  color: white;
}

.Home-countries-error h2 {
  color: white;
}
