.Home {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
}

.Home-header {
  padding: 20px;
  /* height: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--amarillo);
  border-radius: 8px;
}

.Home-header-filters {
  display: flex;
  align-items: flex-end;
}

.loading-css {
  margin: 100px auto;
  width: 80px;
  height: 80px;
}
.loading-css:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-css 1.2s linear infinite;
}
@keyframes loading-css {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
