:root {
  --amarillo: #fcef2d;
  --gris: rgb(133, 133, 133);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: radial-gradient(var(--amarillo) 1px, transparent 1px),
    radial-gradient(var(--amarillo) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unstyled-link {
  text-decoration: none;
}

.main-btn {
  border: none;
  background-color: var(--amarillo);
  color: black;
  padding: 8px 15px;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 8px;
  box-shadow: black 2px 2px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.main-btn:hover {
  box-shadow: black 4px 4px;
}
